<div class="wishlist-container">

  <h2>❤️ My Wishlist</h2>

  <div *ngIf="wishlistItems.length === 0" class="empty">
    No products in wishlist
  </div>

  <div class="wishlist-grid">

    <div
      class="wishlist-card"
      *ngFor="let product of wishlistItems"
    >

      <img
        [src]="product.thumbnail"
        [alt]="product.title"
      >

      <h3>{{ product.title }}</h3>

      <p class="price">
        ₹{{ product.price }}
      </p>

      <button
        class="remove-btn"
        (click)="removeItem(product.id)"
      >
        Remove
      </button>

    </div>

  </div>

</div>