<div class="search-container">
  <h2>🤖 AI Shopping Assistant</h2>

  <input
    type="text"
    [(ngModel)]="query"
    placeholder="Search products..."
  />

  <button (click)="searchProducts()">
    Search
  </button>
</div>

<p *ngIf="loading">Loading...</p>
<p>Total Results: {{ recommendations.length }}</p>
<div
  class="result-card"
  *ngFor="let item of recommendations"
>
  <img
    [src]="item.thumbnail"
    width="120"
    alt="{{ item.title }}"
  />

  <h3>{{ item.title }}</h3>

  <p>Category: {{ item.category }}</p>

  <p>Price: ₹{{ item.price }}</p>

  <p>{{ item.description }}</p>
</div>