MONGO_URL=mongodb://Prince-Rathore:prince606@ac-jbg2lkq-shard-00-00.krqfi0m.mongodb.net:27017,ac-jbg2lkq-shard-00-01.krqfi0m.mongodb.net:27017,ac-jbg2lkq-shard-00-02.krqfi0m.mongodb.net:27017/?ssl=true&replicaSet=atlas-1krdcn-shard-0&authSource=admin&appName=Cluster1
JWT_SECRET=my_super_secret_key_123


GEMINI_API_KEY=AQ.Ab8RN6JxRVRqInko9Wus3VHvi8xGgcPSF6dpPBeUO-18lypEZQgit ls-files | findstr .env