* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  background: #131921;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.search-box {
  display: flex;
  width: 40%;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  background: orange;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: orange;
}

.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 22px;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart small {
  position: absolute;
  top: -8px;
  right: -10px;

  background: red;
  color: white;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
}