<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
<nav class="navbar">
  <!-- Logo -->
  <div class="logo">
    <a routerLink="/">ShopEase</a>
  </div>

  <!-- Search -->
  <div class="search-box">
    <button (click)="search()"><i class="fa-solid fa-search search-icon"></i></button>
    <input type="text" placeholder="Search products or ask AI..." [formControl]="product" />

    <button (click)="startVoiceSearch()" class="voice-btn">
      <i class="fa-solid fa-microphone"></i>
    </button>

    <!-- Suggestions -->
    <div class="suggestions" *ngIf="filteredProducts.length">
      <div
        class="suggestion-item"
        *ngFor="let item of filteredProducts"
        (click)="selectProduct(item)"
      >
        {{ item.title }}
      </div>
    </div>
  </div>

  <!-- Menu -->
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>

    <li><a routerLink="/product">Products</a></li>

    <li><a>Categories</a></li>

    <li><a routerLink="/my-orders">Orders</a></li>

    <li>
      <a class="wishlist" (click)="wishlist()"> ❤️ Wishlist </a>
    </li>

    <li class="admin-menu">
      <a class="admin-btn"> 📊 Admin <i class="fa-solid fa-caret-down"></i> </a>

      <ul class="admin-list">
        <li><a routerLink="/admin/dashboard" (click)="ShowDashboard()">Dashboard</a></li>
        <li><a routerLink="/admin/products">Products</a></li>
        <li><a routerLink="/admin/orders">Orders</a></li>
        <li><a routerLink="/admin/users">Users</a></li>
        <li><a routerLink="/admin/coupons" (click)="ShowCoupan()">Coupons</a></li>

        <li><a routerLink="/admin/referrals" (click)="ShowReferral()">Referrals</a></li>

        <li><a routerLink="/admin/wallets" (click)="ShowWallet()">Wallets</a></li>
        <li><a routerLink="/admin/users" (click)="AIsearch()">Ai-Search</a></li>
        
      </ul>
    </li>
  </ul>

  <!-- Right Side -->
  <div class="nav-icons">
    <div class="cart" (click)="cart()">
      🛒

     <span class="cart-count">
  {{ (cartService.cart$ | async)?.length || 0 }}
</span>
    </div>

    <button class="login" *ngIf="!isLoggedIn" (click)="Login()">
      <i class="fa-regular fa-user"></i>
      Login
    </button>

    <button class="logout" *ngIf="isLoggedIn" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
  </div>
</nav>
