<section class="checkout-section">

  <div class="checkout-container">

    <!-- Coupon -->
    <div class="coupon-success" *ngIf="appliedCoupon">

      <div class="coupon-icon">
        🎉
      </div>

      <div class="coupon-content">
        <h3>Coupon Applied</h3>

        <p>
          <strong>{{ appliedCoupon.code }}</strong> applied successfully.
        </p>
      </div>

      <div class="coupon-save">
        Saved
        <span>
          ₹{{ discount | number:'1.0-2' }}
        </span>
      </div>

    </div>

    <!-- Payment -->
    <div class="payment-card">

      <h3 class="payment-title">
        Payment Method
      </h3>

      <div class="payment-option">

        <div class="payment-left">

          <div class="payment-icon">
            💳
          </div>

          <div>
            <h4>Online Payment</h4>
            <p>UPI • Cards • Net Banking</p>
          </div>

        </div>

        <div class="payment-check">
          ✔
        </div>

      </div>

    </div>

    <!-- Price Summary -->
    <div class="pay-summary">

      <div class="price-row">
        <span>Subtotal</span>
        <strong>
          ₹{{ totalAmount | number:'1.0-2' }}
        </strong>
      </div>

      <div class="price-row">
        <span>Shipping</span>
        <strong>FREE</strong>
      </div>

      <!-- Discount -->
      <div
        class="price-row"
        *ngIf="discount > 0">

        <span>Coupon Discount</span>

        <strong class="green">
          -₹{{ discount | number:'1.0-2' }}
        </strong>

      </div>

      <hr>

      <div class="grand-total">

        <div>
          <h3>Total Payable</h3>
          <small>Inclusive of all taxes</small>
        </div>

        <h2>
          ₹{{ payableAmount | number:'1.0-2' }}
        </h2>

      </div>

    </div>

    <button
      class="pay-btn"
      (click)="payNow()">
      Proceed To Payment →
    </button>

    <button
      class="continue-btn"
      routerLink="/">
      Continue Shopping
    </button>

    <p class="secure-text">
      🔐 100% Secure Payment Protected
    </p>

  </div>

</section>

